<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <add name="Tournament" connectionString = "Server=.\HL-DEV-INT21;Database= Tournament; Trusted_Connection=True;" providerName= "System.Data.SqlClient"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>